.daniel
{
    margin-left:auto;
    margin-right:auto;
    width:60rem;

    background-color: rgba(111, 174, 142,0.75);

    margin-top: 5rem;
    padding:2rem;
}

.daniel-top
{
    overflow: scroll;
    width:100%;
    height:100%;
}

.daniel-title
{
  text-align:center;
  padding: 0.5rem !important;

  background-color: rgba(40, 40, 40,0.4);
}

.daniel h1::after
{
  content:none;
}

.daniel-links ul
{
  padding:0rem 0 0rem 0;
  margin:0;
  list-style:none;
  text-align: center;
}

.daniel-links ul li
{
  display: inline;
  padding: 0em 3rem 0 3rem;
}

.daniel-logo
{
    width:100%;
    text-align:center;
}

.daniel-description
{
    width:100%;
    display:inline;
}

.mygallery
{
  width:100%;
  padding: 3rem;
  overflow: auto;
}

.mygallery .row
{
  width:100%;
}

.mygallery .column
{
  float:left;
  width:49.9%;
  height: 180px;
  text-align:center;
  vertical-align:middle;
}
.mygallery img
{
  height:100%;
  padding-bottom: 2rem;
}

@media screen and (max-width: 736px)
{
  .mygallery
  {
    display:none;
  }

  .daniel
  {
    width: auto;
  }
}
